body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}


.FloatMenu {
    width: 100%;
    background-color: #858281; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.FloatMenu .logo-text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: white;
    margin-top: -10px; /* Ajusta este valor según sea necesario para mover el logo más arriba */
    white-space: nowrap; /* Evita que el texto se divida en dos líneas */
    text-decoration: none;
}

.FloatMenu center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.FloatMenu a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.FloatMenu a:hover {
    background-color: #959595; 
    color: #fff;
    border-radius: 4px;
}

.FloatMenu .menu-icon {
    width: 20px; 
    height: 20px; 
    margin-right: 8px; 
}